Temp/
ipch
ipch/
GPUCache/
.vs/
node_modules/
.vscode/
bin/
lib/
*/lib/
3rd/
doxygen/
*/Temp/*

*.sdf
*.suo
*.opensdf

# com
*_i.c
*_i.h
*_p.c

*.aps

*.ilk
*.exp
*.dll
*.exe
*.iobj
*.ipdb
*.aps
*codebackup
build*
*.pro.user*
*_bk_*
tiles/
*CMakeLists.txt.user*
*web/dist*